a{
	justify-content: center;
	display: flex;
	font-family: 'input',sans-serif;
	margin: 20px auto;
	text-decoration: none;
}

a:link {
	color: #bf3b1c;
}
a:visited {
	color: #bf3b1c;
}
a:hover {
	color: #b35843;
}
a:active {
	color: #8d2a14;
}

.overlay {
	z-index: 9;
	width: 300px;
	height: 475px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 5px 20px 50px #000;
	background: #1e1e1e;
}

.hidden{
	display: none;
}